@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

* { box-sizing: border-box; }
html, body { margin: 0; min-height: 100%; }
body { font-family: var(--p-font-family, Arial, Helvetica, sans-serif); }
